# EXTERNAL USE FOR FIXTURE, MODULES TESTS
DB_PORT=27019
REDIS_PORT=6375
PORT=9992
DB_NAME=ceekTestDB
REDIS_CLUSTER=true
NO_LOGS=true

# INTERNAL
INTERNAL_API_PORT=9696
INTERNAL_DB_PORT=27017
INTERNAL_REDIS_PORT=6379

# NAME_CONTAINER
VR_API_CONTAINER=vr-test
REDIS_CONTAINER=redis-test
MONGO_CONTAINER=mongo-test
BASH_CHECK_TCP_CONNECT_CONTAINER=bash-connect-test
BASH_CHECK_TCP_CONNECT_CONTAINER_MONGO_REDIS=bash-connect-test-mongo-redis
